{#
/**
 * @file
 * Template for link only teasers
#}
<div{{ attributes.addClass('link-block position-relative') }}>
  <span class="fa fa-chevron-right"></span>
  <h2 class="pl-2">
    <a href="{{ url }}">{{ title }}</a>
  </h2>
</div>
